.homepage {
    padding: 20px;
}

.title {
    font-size: 2rem;
    text-align: left;
    margin-bottom: 20px;
    color: #333;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}


.error {
    color: red;
    font-size: 16px;
    margin-bottom: 16px;
  }
  
  .loadedCardContainer {
    margin-top: 20px;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    position: relative;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .header h2 {
    margin: 0;
    font-size: 20px;
  }
  
  .addButton {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .addButton:hover {
    background-color: #0056b3;
  }
  
  .cardWrapper {
    display: flex;
    overflow-x: auto;
    gap: 16px; /* Jarak antar card */
  }
  
  .cardWrapper::-webkit-scrollbar {
    height: 8px;
  }
  
  .cardWrapper::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }
  
  .cardWrapper::-webkit-scrollbar-thumb:hover {
    background: #aaa;
  }

// .loadedCardContainer {
//     display: flex;
//     overflow-x: auto; /* Scroll horizontal */
//     padding-bottom: 10px;
//   }
  
//   .loadedCardContainer::-webkit-scrollbar {
//     height: 8px; /* Ukuran scrollbar */
//   }
  
//   .loadedCardContainer::-webkit-scrollbar-thumb {
//     background: #ccc;
//     border-radius: 4px;
//   }
  
//   .pastorCardContainer::-webkit-scrollbar-thumb:hover {
//     background: #aaa;
//   }